$white: #fff;

%glass {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
}

@font-face {
    font-family: "Mitr-Regular";
    src: url("../assets/fonts/Mitr-Regular.ttf");
}

.auth {
    position: relative;

    textarea,
    input[type='email'],
    input[type='password'],
    input[type='text'],
    input[type='number'] {
        border-radius: 0.2rem;
        border: none;
        padding: 0.3rem;
        margin-top: 0.2rem;
        width: 80%;
        @extend %glass;
    }
}

.header-signin-btn {
    font-family: "Mitr-Regular";
    text-transform: uppercase;
    letter-spacing: .02rem;
    color: $white;
    border: 1px solid $white;
    padding: .2rem .5rem .25rem .5rem;
    background-color: transparent;
    cursor: pointer;
}

.password-reset-modal,
.signup-success-modal,
.sign-in-modal {
    font-family: "Mitr-Regular";
    position: fixed;
    top: 50%;
    left: 50%;
    width: 80vw;
    transform: translate(-50%, -60%);
    z-index: 50;
    border-radius: .5rem;
    background: #ffffff33;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 2000px 2000px rgba(0, 0, 0, 0.8);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    border: 1px solid #000;

    h2 {
        text-align: center;
        letter-spacing: .1rem;
        text-transform: uppercase;
        color: #3d3d3d;
    }

    button {
        cursor: pointer;
        font-family: "Mitr-Regular";
    }

    h4 {
        text-align: center;
        margin: 0;
        letter-spacing: .1rem;
    }

}

.close-modal-btn {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.input-wrapper-signup {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

.signup-btn {
    margin-top: 1rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    width: 100%;
    padding-block: .3rem;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    box-shadow: none;
    border: 1px solid #000;
}

.login-btn {
    margin-bottom: 0.5rem;
}

.have-account-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    p {
        font-size: .8rem;
    }

    .have-account-btn {
        border: none;
        background-color: transparent;
        backdrop-filter: none;
        box-shadow: none;
        margin: 0;
        color: rgb(1, 1, 203);
    }
}

.signup-dividers {
    display: grid;
    grid-template-columns: 1fr 15% 1fr;
    align-items: center;
    width: 100%;
    padding: 0 .5rem;

    p {
        text-align: center;
        color: #353535;
    }
}

.or-divider {
    width: 100%;
    background-color: #353535;
    height: 1px;
}

.login-social-btns {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: none;
    border: 1px solid #000;
    width: 100%;
    padding-block: .3rem;
    box-shadow: none;
    border: 1px solid #000;
    margin-bottom: 0.5rem;
    letter-spacing: .05rem;
    background-color: #ffffffd5;

    svg {
        position: absolute;
        top: .33rem;
        left: .8rem;
        justify-self: flex-start;
    }
}

.facebook-btn {
    background-color: #1877f2;
    color: $white;
}

.fine-print {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: .3rem;

    a {
        margin: 0;
        font-size: .6rem;
        color: #000;
        text-underline-offset: .15rem;
    }
}

.forgot-pass-btn {
    border: none;
    background-color: transparent;
    backdrop-filter: none;
    box-shadow: none;
    margin: 0;
    color: rgb(1, 1, 203);
}

// error tooltips
.error-state {
    border: 1px solid #d10505 !important;
    outline: 1px solid #d10505;
}

.auth-password-error,
.auth-pass-reset-error,
.auth-email-error {
    bottom: -2.8rem;
    right: 1rem;
}

.auth-email-exists-error {
    bottom: -4.4rem;
    right: 1rem;
}

.auth-email-exists-pointer {
    bottom: -.6rem;
    right: 10.3rem;
}

.auth-email-pointer {
    bottom: -.6rem;
    right: 6.5rem;
}

.auth-password-pointer {
    bottom: -.6rem;
    right: 9.5rem;
}

.auth-password-format-pointer {
    bottom: -.6rem;
    right: 14.5rem;
}

.email-login-error,
.auth-display-name-error {
    bottom: -2.8rem;
    right: 1rem;
}

.auth-display-name-pointer {
    bottom: -.6rem;
    right: 13.5rem;
}

.email-login-pointer {
    bottom: -.6rem;
    right: 10.5rem;
}

.auth-pass-reset-pointer {
    bottom: -.6rem;
    right: 12rem;
}

.incorrect-password-error {
    bottom: -4.4rem;
    right: 1rem;
}

.incorrect-password-pointer {
    bottom: -.6rem;
    right: 9.8rem;
}


// extra modals
.approval-wrapper {
    align-self: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    padding: 1rem;
    border-radius: 50%;
    margin-top: 1rem;
}

.success-text {
    text-align: center;
    font-size: 1.4rem;
    margin: 1rem 0 -1rem 0;
}

.logout-btn {
    font-size: 1rem;
    letter-spacing: .05rem;
}