@font-face {
  font-family: "Caveat-Medium";
  src: url("../assets/fonts/Caveat-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Caveat-SemiBold";
  src: url("../assets/fonts/Caveat-SemiBold.ttf");
}
@font-face {
  font-family: "Mitr-Regular";
  src: url("../assets/fonts/Mitr-Regular.ttf");
}
.submit-success-modal, .post-page .final-form-btns button, .post-page .upload-btn, .post-page .custom-file-button, .post-page .dropdown-wrapper label select, .post-page textarea,
.post-page input[type=email],
.post-page input[type=password],
.post-page input[type=text],
.post-page input[type=number], .post-page .form-container, .post-page .tab {
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
}

.post-page {
  background: url("../assets/mobFormBG.webp");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
}
.post-page h1 {
  font-family: "Mitr-Regular";
}
.post-page .post-info {
  font-family: "Caveat-Medium";
  font-size: 1.4rem;
  display: flex;
  flex-direction: column;
  padding: 0 0.5rem 2rem 0.5rem;
}
.post-page .post-info p {
  font-family: "Mitr-Regular";
  margin: 0;
  padding-bottom: 0.5rem;
}
.post-page .more-info-btn {
  font-family: "Caveat-Medium";
  font-size: 1.4rem;
  text-transform: uppercase;
  align-self: flex-end;
  margin-right: 2rem;
  box-shadow: none;
  background: transparent;
  border-radius: 0px 0px 0px 5px;
  border: none;
  border-bottom: 1px solid black;
  padding: 0 0.8rem 0 0.5rem;
}
.post-page .tabs {
  display: flex;
  gap: 0.2rem;
  font-family: "Caveat-Medium";
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 800;
  padding: 0 0.5rem;
}
.post-page .tab {
  padding: 1rem;
  border-radius: 30% 30% 0 0;
  cursor: pointer;
}
.post-page .tab:first-of-type {
  margin-left: 0.5rem;
}
.post-page .inactive-tab {
  background: transparent;
  -webkit-backdrop-filter: blur(0px);
          backdrop-filter: blur(0px);
  color: rgba(97, 89, 89, 0.7);
}
.post-page .form-container {
  padding: 1rem;
  margin: 0 0.5rem 0.5rem 0.5rem;
  border-radius: 0.8rem;
}
.post-page .small-label {
  font-family: "Caveat-medium";
  color: black;
  font-size: 1.2rem;
  padding-bottom: 0.2rem;
}
.post-page .input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding-bottom: 0.8rem;
  position: relative;
}
.post-page .input-wrapper label,
.post-page .input-wrapper input,
.post-page .input-wrapper textarea {
  display: block;
  position: relative;
}
.post-page .input-wrapper div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.post-page .input-wrapper div svg {
  cursor: pointer;
}
.post-page textarea,
.post-page input[type=email],
.post-page input[type=password],
.post-page input[type=text],
.post-page input[type=number] {
  border-radius: 0.2rem;
  border: none;
  padding: 0.3rem;
  margin-top: 0.2rem;
  width: 80%;
}
.post-page textarea {
  width: 100%;
  margin-top: 0.5rem;
}
.post-page input[type=number] {
  width: 50%;
}
.post-page .tooltip {
  font-family: "Times New Roman", Times, serif;
  position: absolute;
  padding: 0.5rem;
  background-color: black;
  color: white;
  font-size: 0.8rem;
  display: flex;
  flex-direction: column !important;
  width: 150px;
  gap: 0 !important;
  border-radius: 0.5rem;
  z-index: 5;
}
.post-page .tooltip div {
  flex-direction: row-reverse;
}
.post-page .tooltip svg {
  margin-left: auto;
  margin-top: -0.5rem;
}
.post-page .tooltip p,
.post-page .tooltip a {
  margin: 0;
}
.post-page .tooltip a {
  color: rgb(250, 66, 66);
  padding-top: 0.4rem;
  font-family: "Times New Roman", Times, serif;
}
.post-page .pointer {
  position: absolute !important;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid black;
  z-index: 5;
}
.post-page .sell-tooltip {
  top: 4rem;
  right: 2.2rem;
}
.post-page .tooltip-pointer {
  top: 3.3rem;
  right: 10rem;
}
.post-page .dropdown-wrapper {
  display: flex;
}
.post-page .dropdown-wrapper label {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.post-page .dropdown-wrapper label select {
  padding: 0.3rem;
  border-radius: 0.2rem;
  border: none;
  padding: 0.3rem;
  width: 50%;
}
.post-page .radio-wrapper {
  margin-bottom: 1rem;
}
.post-page .main-label {
  font-family: "Caveat-Medium";
  font-size: 1.6rem;
}
.post-page input[type=checkbox],
.post-page input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  outline: none;
  margin-right: 0.5rem;
  background: rgba(255, 255, 255, 0.2);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  transition: all 0.3s ease-in-out;
}
.post-page input[type=checkbox]:checked,
.post-page input[type=radio]:checked {
  background: #4ca6a8;
  margin-right: 1.5rem;
}
.post-page .contact-heading-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0 0.5rem 0;
}
.post-page .contact-heading-wrapper svg {
  cursor: pointer;
}
.post-page .contact-wrapper label {
  display: flex;
  align-items: center;
  width: 100%;
  gap: 1rem;
}
.post-page .contact-wrapper .svg-wrapper {
  height: 48px;
  width: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.post-page .contact-wrapper:last-of-type {
  margin-bottom: 1rem;
}
.post-page .contact-tooltip {
  top: 2.2rem;
  right: 0rem;
  width: 200px;
}
.post-page .contact-tooltip div {
  display: flex;
  gap: 1rem;
}
.post-page .contact-tooltip svg {
  margin-top: -1rem;
}
.post-page .contact-pointer {
  top: 2.6rem;
  right: 12.1rem;
  transform: rotate(270deg);
}
.post-page .contact-bottom-pointer {
  top: 7.15rem;
  right: 1.4rem;
  transform: rotate(180deg);
}
.post-page .file-btn-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-bottom: 1rem;
  overflow: hidden;
}
.post-page .file-btn-wrapper:first-of-type {
  margin-top: 1.5rem;
}
.post-page .file-btn-wrapper div {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.post-page .file-btn-wrapper div label {
  margin-left: 0.1rem;
  font-size: 1.2rem;
}
.post-page .file-btn-wrapper div input {
  padding: 1rem 1rem 0 1rem;
}
.post-page .custom-file-button {
  position: relative;
  font-family: "Caveat-Medium";
  font-size: 1.4rem;
  pointer-events: none;
  border-radius: 0.3rem;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  margin-bottom: 0.1rem;
}
.post-page .custom-file-button:nth-of-type(1) {
  margin-top: 0.1rem;
}
.post-page .upload-btn {
  font-family: "Caveat-Medium";
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 800;
  padding: 0.2rem 0.5rem;
  margin-top: 0.5rem;
  border: none;
  border-radius: 0.3rem;
  margin: 0.1rem;
  cursor: pointer;
}
.post-page input[type=file] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}
.post-page .final-form-btns {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.post-page .final-form-btns button {
  font-family: "Caveat-Medium";
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 800;
  padding: 0.5rem 1.5rem;
  border: none;
  border-radius: 0.3rem;
  margin: 0.1rem;
  cursor: pointer;
}
.post-page .post-btn {
  background: rgba(22, 205, 22, 0.527);
}
.post-page .form-error {
  position: absolute !important;
  background-color: black;
  color: white;
  border-radius: 0.3rem;
  padding: 0.5rem;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 5;
}
.post-page .form-error p {
  margin: 0;
}
.post-page .model-error {
  bottom: -1.3rem;
  right: 0.5rem;
}
.post-page .model-pointer {
  top: 3.2rem;
  right: 9rem;
}
.post-page .price-error {
  bottom: -1.3rem;
  right: 3rem;
}
.post-page .price-pointer {
  bottom: 0.6rem;
  right: 11rem;
}
.post-page .currency-pointer {
  bottom: 0.6rem;
  right: 15.5rem;
}
.post-page .image-error {
  bottom: 2.5rem;
  right: 5.5rem;
}
.post-page .image-pointer {
  bottom: 4.45rem;
  right: 14.4rem;
}
.post-page .file-error {
  bottom: 0.6rem;
  right: 4rem;
}
.post-page .file-pointer {
  bottom: 2.5rem;
  right: 12.3rem;
}
.post-page .upload-error {
  bottom: 2.4rem;
  right: 0.5rem;
}
.post-page .upload-pointer {
  bottom: 4.4rem;
  right: 12.3rem;
}
.post-page .rent-price-label {
  position: relative;
  display: flex;
  align-items: center;
  gap: 1rem;
}
.post-page .rent-tooltip {
  right: 0rem;
  top: 0rem;
}
.post-page .rent-tooltip div {
  display: flex;
  flex-direction: row-reverse;
}
.post-page .rent-tooltip-pointer {
  right: 9rem;
  transform: rotate(270deg);
}
.post-page .rent-inputs {
  display: flex;
  padding-bottom: 0.8rem;
  position: relative;
}
.post-page .rent-inputs input {
  width: 50%;
  margin-right: 0.5rem;
}
.post-page .rent-price-error {
  bottom: 0.7rem;
  right: -0.5rem;
}
.post-page .rent-price-pointer {
  transform: rotate(270deg);
  right: 8.3rem;
  bottom: 1.3rem;
}
.post-page .rent-currency-pointer {
  transform: rotate(270deg);
  right: 15.8rem;
  bottom: 1.3rem;
}
.post-page .checkbox-wrapper {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.post-page .drop-locations {
  margin-top: 1rem;
}
.post-page .checkbox-options {
  -moz-columns: 2;
       columns: 2;
  margin: 0.5rem 0 1rem 0;
}
.post-page .checkbox-options div {
  display: flex;
  align-items: center;
}
.post-page .hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

.required-span {
  color: rgb(203, 4, 4);
}
.required-span span {
  font-size: 1.2rem;
  font-weight: 800;
  position: relative;
  top: -10px;
}

.submit-success-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.3rem;
  padding: 1rem;
  min-width: 80vw;
  max-height: 98dvh;
  box-shadow: 0 0 2000px 2000px rgba(0, 0, 0, 0.7);
}/*# sourceMappingURL=postBikeForm.css.map */