@font-face {
    font-family: 'Mitr-Regular';
    src: url('../assets/fonts/Mitr-Regular.ttf');
}

@font-face {
    font-family: "Caveat-SemiBold";
    src: url("../assets/fonts/Caveat-SemiBold.ttf");
}

%glass {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.3);
}

$red: #DB261E;
$yellow: #FFFF05;

body {
    box-sizing: border-box;
    overflow-x: hidden;
}

//  PREVIEW SPECIFIC ******
.preview {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 1500px 1500px rgba(0, 0, 0, 0.7);
    border-radius: .3rem;
    margin-top: 2rem;
    width: 100vw;
    transform: translateX(-2.4rem);
    background-color: #fff;

    .preview-btn {
        align-self: center;
        font-family: "Caveat-SemiBold";
        font-size: 1.2rem;
        text-transform: uppercase;
        padding: .5rem 1.5rem;
        margin-bottom: 1rem;
        background-color: rgba(255, 0, 0, 0.775);
    }
}

.blur {
    filter: blur(2px);
}

// loading states
.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    z-index: 10;
    width: 100px;
    height: 100px;

    img {
        min-width: 100px;
        min-height: 100px;
    }
}


.loading-img {
    max-width: 100%;
    max-height: 300px;

    img {
        margin: 0 auto;
    }
}

// react slick & image absolutes
.slider-wrapper {
    position: relative;
    z-index: -5;
}

.slick-arrow {
    box-shadow: none;
    backdrop-filter: blur(0px);
    z-index: 10;
}

.slick-slider button {
    backdrop-filter: blur(0px);
    cursor: pointer;
    pointer-events: initial;
}

.slick-prev {
    left: .2rem;

    &:before {
        font-size: 30px;
    }
}

.slick-next {
    right: 1rem;

    &:before {
        font-size: 30px;
    }
}

.timestamp,
.price-wrapper {
    position: absolute;
    color: white;
    border-radius: .3rem;
    padding: 0.3rem;
    @extend %glass;
    z-index: 5;

    h4,
    p {
        font-family: 'Mitr-Regular';
        margin: 0;
        color: rgba(0, 0, 0, 0.8);
        letter-spacing: .05rem;

        span {
            font-size: 1.2rem;
        }
    }

    h4 {
        font-size: 1.6rem;
    }
}

.timestamp {
    top: 1.5rem;
    left: 1.5rem;
}

.price-wrapper {
    bottom: 2.5rem;
    right: 2rem;
}

.post-img {
    max-width: 100%;
    margin: 0 auto;
}


// post content
.post-content {
    display: flex;
    flex-direction: column;
    background-color: black;
    border-radius: 1rem 0 0 1rem;
    padding: 1rem;
    margin: -1.5rem 0 1rem 1.5rem;
    box-shadow: 10px 5px 5px 5px rgba(0, 0, 0, 0.3);
    z-index: 5;

    h1,
    p {
        color: white;
        margin: 0;
        font-family: 'Mitr-Regular';
    }
}

.hide-btn,
.show-btn {
    font-family: 'Mitr-Regular';
    color: white;
    background-color: transparent;
    margin-left: auto;
    margin-right: 1rem;
    border-bottom: 1px solid white;
}

.show-btn {
    border-radius: 0 0 0px 10px;
    padding: 0 0.2rem 0.1rem 0.8rem;
}

.hide-btn {
    border-radius: 0 0 10px 0px;
    padding: 0 0.8rem 0.1rem 0.2rem;
}


.post-contact {
    position: relative;
}

.post-contact-details {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 0.3rem;

    p {
        letter-spacing: .05rem;
    }

    &:last-of-type {
        margin-bottom: 1rem;
    }
}

.svg-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 48px;
    min-height: 48px;
}

.sign-for-more-btn {
    position: absolute;
    left: 50%;
    top: 80%;
    transform: translate(-50%, -50%);
    font-family: 'Mitr-Regular';
    font-size: 1.4rem;
    padding: .3rem 1rem .5rem 1.3rem;
    color: white;
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.424);
    transition: all 2s ease;

    &:hover {
        background-color: #000;
        border: 1px solid rgba(255, 255, 255, 1);

        svg {
            transform: rotate(0deg) translateY(0px) translateX(5px);
        }
    }

    svg {
        transform: rotate(25deg) translateY(6px) translateX(10px);
        transition: all 1s ease;
    }
}

.msg-btn {
    font-family: 'Mitr-Regular';
    text-transform: uppercase;
    letter-spacing: .1rem;
    align-self: center;
    margin-top: 1rem;
    background-color: $red;
    padding: .3rem 1rem;
    color: $yellow;

    &:disabled {
        color: rgba(83, 83, 83, 0.5);
        background-color: rgba(248, 248, 248, 0.655);
        cursor: not-allowed;
    }
}

.post-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;

    div {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        gap: .3rem;
        margin-top: -1rem;
    }
}

.seller,
.type {
    border-radius: .3rem;
    padding: 0 .2rem .1rem 0.2rem;
    font-size: .8rem;
}

.automatic {
    background-color: green;
}

.semi {
    background-color: rgb(255, 204, 0);
}

.manual {
    background-color: red;
}

.private {
    background-color: rgb(117, 179, 199);
}

.business {
    background-color: purple;
}

.contact-heading {
    font-family: 'Mitr-Regular';
    color: $red;
    margin: 0;
    padding: 1rem 0 .5rem 0;
}